@import "reset.css";
@import "variables.css";
@import "footer.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
	color:var(--own-blue-hover);
	font-weight : bold;
}

section.notice {
  padding: 80px 0 0 0;
}

.board-table {
  font-size: 18px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 50px;
  text-align: center;
}

.board-table .th-title {
	width : 400px;
	text-align : center;
}

.board-table .th-author {
	width : 50px;
	text-algin : center;
}


.board-table .th-date {
  width: 130px;
  text-algin : center;
}

.board-table .th-view {
	width : 50px;
}


.board-table th,
.board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--own-blue);
  padding: 20px;
  color : white;
  font-size:20px;
  font-weight : bold;

}

.header__logo{
	color:white;
	font-size : 30px;
	border-radius : 6px;
	padding:10px;
	transition : all 0.4s ease-in;
}

.header__logo:hover{
	background-color:var(--own-blue-hover);
	text-decoration : none;
	color : white;
}

.header__logo a{
	color:white;
}

.header__logo a:hover{
	text-decoration : none;
	color:white;
}



.header__menu {
	display : flex;
	align-items:center;

}

.header__menu li a {
	color : white;
}

.header__menu li a:hover {
	text-decoration : none;
}


.header__menu li {
	color : white;
	padding : 10px 10px;
	border-radius : 6px;
	transition : all 0.4s ease;
}

.header__menu li:hover{
	background-color : var(--own-blue-hover);
	text-decoration : none;
}


.header__user {
	display : flex;
	flex-direction : column;
	align-items : center;
}

.logBtn {
	outline : none;
	border:none;
	background-color : transparent;
	color:white;
	padding:5px 15px;
	border-radius : 6px;
	border : solid 2px white;
	transition : all 0.4s ease-in;
}

.logBtn:hover {
	background-color : var(--own-blue-hover);
}

.header__toggleBtn {
	position:absolute;
	right : 32px;
	top : 20px;
	font-size : 30px;
	color : white;
	display : none;
}


@media screen and (max-width:768px) {
	.board-table {
		font-size:18px;
	}
	.header {
		flex-direction:column;
		align-items : flex-start;
		position:fixed;
		width : 100%;
		padding:10px;
	}
	
	.header__menu {
		flex-direction:column;
		align-items : center;
		width : 100%;
		display : none;
	}
	.header__user {
		flex-direction : row;
		align-items : center;
		justify-content : space-around;
		text-align : center;
		width : 100%;
		display:none;
	}
	.header__menu li {
		width : 100%;
		text-align : center;
		cursor:pointer;
	}
	
	.header__toggleBtn {
		display : block;
		color:white;
	}
	
	.header__toggleBtn:hover{
		color:white;
	}
	
	.header__menu.active, .header__user.active {
		display : flex;
	}
	
	.board-table {
	  font-size: 13px;
	  width: 50%;
	  border-top: 1px solid #ccc;
	  border-bottom: 1px solid #ccc;
	}
	.board-table .th-num {
	  	width: 20px;
	 	text-align: center;
	}

	
	.board-table .th-title {
		width : 70px;
		text-align : center;
	}
	
	.board-table .th-author {
		width : 30px;
		text-algin : center;
	}
	
	
	.board-table .th-date {
	  width: 3px;
	  text-algin : center;
	}
	
	.board-table .th-view {
		width : 20px;
	}
}

ul.pagination {
	width : 100%;
	text-align : center;
	display : flex;
	justify-content : center;
}

.search {
	text-align : center;
	padding:20px 0 50px 0;
}

.btn-wrap {
	margin-top :15px;
	display : flex;
	justify-content:flex-end;
	width:80%;
}

.btn-wrap button{
	
	margin-left : 5px;
	border-radius : 6px;
	padding : 10px 20px;
	font-weight : bold;
	font-size : 15px;
}

.write_btn {
	border : none;
	background-color : var(--own-blue);
	color : white;
}

.list_btn {
	background-color : transparent;
	border : 1.5px solid  var(--own-blue);
	color : var(--own-blue);
}


.search__select {
	padding:5px;
	border : 3px solid var(--own-blue);
	border-radius:6px;
	color:var(--own-blue);
	cursor:pointer;
}


.search__text {
	padding:5px 0px;
	width : 300px;
	font-size:18px;
	border : none;
	border-radius : 8px;
	background-color:transparent;
	border-bottom:1.3px solid rgba(0, 0, 0, 0.3);
	transition : border-color 0.3s linear;
}

.search__text:focus {
	border-color : var(--own-blue);
}

.search__btn {
	color:white;
	border:none;
	background-color : var(--own-blue);
	height:35px;
	width : 35px;
	font-size:18px;
}

.alert__search{
	color:red;
	font-size:18px;
}

.pagination {
	font-size:20px;
}

