@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--own-blue);
  padding: 20px;
  color : white;
  font-size:20px;
  font-weight : bold;

}

.header__logo{
	color:white;
	font-size : 30px;
	border-radius : 6px;
	padding:10px;
	transition : all 0.4s ease-in;
}

.header__logo:hover{
	background-color:var(--own-blue-hover);
	text-decoration : none;
	color : white;
}

.header__logo a{
	color:white;
}

.header__logo a:hover{
	text-decoration : none;
	color:white;
}



.header__menu {
	display : flex;
	align-items:center;

}

.header__menu li a {
	color : white;
}

.header__menu li a:hover {
	text-decoration : none;
}


.header__menu li {
	color : white;
	padding : 10px 10px;
	border-radius : 6px;
	transition : all 0.4s ease;
}

.header__menu li:hover{
	background-color : var(--own-blue-hover);
	text-decoration : none;
}


.header__user {
	display : flex;
	flex-direction : column;
	align-items : center;
}

.logBtn {
	outline : none;
	border:none;
	background-color : transparent;
	color:white;
	padding:5px 15px;
	border-radius : 6px;
	border : solid 2px white;
	transition : all 0.4s ease-in;
}

.logBtn:hover {
	background-color : var(--own-blue-hover);
}

.header__toggleBtn {
	position:absolute;
	right : 32px;
	top : 20px;
	font-size : 30px;
	color : white;
	display : none;
}


@media screen and (max-width:768px) {
	.board-table {
		font-size:18px;
	}
	.header {
		flex-direction:column;
		align-items : flex-start;
		position:fixed;
		width : 100%;
		padding:10px;
	}
	
	.header__menu {
		flex-direction:column;
		align-items : center;
		width : 100%;
		display : none;
	}
	.header__user {
		flex-direction : row;
		align-items : center;
		justify-content : space-around;
		text-align : center;
		width : 100%;
		display:none;
	}
	.header__menu li {
		width : 100%;
		text-align : center;
		cursor:pointer;
	}
	
	.header__toggleBtn {
		display : block;
		color:white;
	}
	
	.header__toggleBtn:hover{
		color:white;
	}
	
	.header__menu.active, .header__user.active {
		display : flex;
	}
	
	.board-table {
	  font-size: 13px;
	  width: 50%;
	  border-top: 1px solid #ccc;
	  border-bottom: 1px solid #ccc;
	}
	.board-table .th-num {
	  	width: 20px;
	 	text-align: center;
	}

	
	.board-table .th-title {
		width : 70px;
		text-align : center;
	}
	
	.board-table .th-author {
		width : 30px;
		text-algin : center;
	}
	
	
	.board-table .th-date {
	  width: 3px;
	  text-algin : center;
	}
	
	.board-table .th-view {
		width : 20px;
	}
}

