@charset "EUC-KR";
@import "reset.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");


.welcome-header{
	margin-top:60px;
	text-align : center;
}


.welcome-header__title {
	margin-bottom:40px;
	font-size:50px;
	font-weight:600;
	color:var(--own-blue);
}

.signup-form {
	display :flex;
	flex-direction : column;
	align-items : center;
	margin : 0px 50px;
}

.signup-form input {
	border:none;
	padding: 15px 0px;
	font-size : 22px;

	width :500px;
	margin-bottom:25px;
}

.signup-form input::placeholder {
	color:rgba(0, 0, 0, 0.3);
}

.signup-form input:not([type="submit"]) {
	border-bottom:1.3px solid rgba(0, 0, 0, 0.3);
	transition : border-color 0.3s linear;
}
.login-form input:focus {
	border-color : var(--own-blue);
}

.signup-form input[type="button"] {
	background-color : var(--own-blue);
	color:white;
	font-weight:bold;
	cursor:pointer;
	border-radius : 6px;
	transition : all 0.5s linear;
}

.signup-form input[type="button"]:hover {
	background-color:#4f8df0;
}

.back-to-login {
	display : flex;
	justify-content : center;
}


.back-to-login  a:hover {
	text-decoration : underline;
}

.idValidation {
	outline : none;
	border:1px solid var(--own-blue);
	background-color:transparent;
	color:var(--own-blue);
	cursor : pointer;
	border-radius : 6px;
	padding:6px 8px;
	font-weight : bold;
	margin-bottom : 7px;
}

.idValidation-wrap {
	display : flex;
	justify-content : center;
}

